[mysqld]
# Needed for compatibility with existing SQL clients / WordPress.
default-authentication-plugin=mysql_native_password

# Listen on all interfaces
bind-address=0.0.0.0

# Purge logs
expire_logs_days=7
